name: Swift Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Docker container
        run: |
          docker pull swift:5.9

      - name: Build SwiftDEBot
        run: |
          docker run --rm -v "$(pwd):/src" -w /src swift:5.9 swift build --configuration release
